<section class="ticket-list">
  <div class="ticket-list-wrapper">
    <div class="row">
      <div class="add-ticket">
        <button (click)="addTicket()">Добавить билет</button>
      </div>
    </div>
    <div *ngFor="let ticket of ticketsService.tickets">
      <app-ticket
        [fromCity]="ticket.fromCity.address.name"
        [fromTime]="ticket.fromCity.time"
        [toCity]="ticket.arrivalCity.address.name"
        [arrivalTime]="ticket.arrivalCity.time"
      ></app-ticket>
    </div>
  </div>
</section>
