@import '../../../theme/mixins.scss';

.ticket-list-wrapper {
  @include flex(column, center, center);
  width: 100%;
  max-width: 1070px;
  min-height: 178px;
  margin: 4rem auto;
}

.add-ticket {
  margin-bottom: 2rem;

  .base-btn {
    @include base-button();
    background-color: #f57c00;
    min-width: 220px;
  }
}
