@import '../../../theme/mixins.scss';
@import '../../../theme/variables.scss';

.ticket-list-wrapper {
  @include flex(column, center, center);
  width: 100%;
  max-width: 1070px;
  min-height: 178px;
  margin: 2rem auto;
}

.add-ticket {
  margin-bottom: 2rem;

  .base-btn {
    @include base-button();
    background-color: $button;
    min-width: 220px;
  }
}
