/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $font-family-base;
}

body {
  background-color: #05263F;
}

.row {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
