.mat-form-field {
  background: white;
  margin-bottom: 2.5rem;
  color: black;
  border: 0.1rem solid $primary;
  border-radius: 0.5rem;
  font-size: 16px !important;
  height: 55px;
  width: 100%;

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    height: 55px;
  }
  .mat-form-field-underline {
    display: none;
  }
  &.mat-input-wrapper {
    padding: 0.6rem;
    height: 55px;
  }

  .mat-input-element {
    font-size: 1.6rem;
  }

  .mat-form-field-infix {
    width: 100%;
  }

  &.mat-focused .mat-form-field-label {
    color: $primary;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.cdk-overlay-pane.my-dialog {
  position: relative !important;

  .close {
    position: absolute;
    right: 32px;
    top: 22px;
    width: 22px;
    height: 22px;
    opacity: 0.6;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 23px;
    width: 3px;
    background-color: $primary;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

.swal2-popup {
  font-size: 1.6rem !important;
}
