<div class="ticket-create">
  <!-- <div class="form-image">
    <img src="../../../../assets/img/aircraft.svg" alt="" />
  </div> -->
  <div>
    <form [formGroup]="ticketsForm">
      <span class="title">Авиабилет</span>
      <div class="form-content">
        <div class="column">
          <h4>Откуда</h4>
          <app-ctrl-autocomplete-address
            formControlName="fromCity"
            placeholder="Откуда"
          >
            <app-c-errors
              [control]="ticketsForm.get('fromCity')"
            ></app-c-errors>
          </app-ctrl-autocomplete-address>

          <app-ui-datepicker
            formControlName="fromDate"
            [placeholder]="'Дата вылета'"
          >
            <app-c-errors
              [control]="ticketsForm.get('fromDate')"
            ></app-c-errors>
          </app-ui-datepicker>

          <app-ctrl-input
            formControlName="fromTime"
            type="time"
            placeholder="Время вылета"
          >
            <app-c-errors
              [control]="ticketsForm.get('fromTime')"
            ></app-c-errors>
          </app-ctrl-input>
        </div>

        <div class="column">
          <h4>Куда</h4>

          <app-ctrl-autocomplete-address
            formControlName="arrivalCity"
            placeholder="Куда"
          >
            <app-c-errors
              [control]="ticketsForm.get('arrivalCity')"
            ></app-c-errors>
          </app-ctrl-autocomplete-address>

          <app-ui-datepicker
            formControlName="arrivalDate"
            placeholder="Дата прилета"
          >
            <app-c-errors
              [control]="ticketsForm.get('arrivalDate')"
            ></app-c-errors>
          </app-ui-datepicker>

          <app-ctrl-input
            formControlName="arrivalTime"
            type="time"
            placeholder="Время прилета"
          >
            <app-c-errors
              [control]="ticketsForm.get('arrivalTime')"
            ></app-c-errors>
          </app-ctrl-input>
        </div>
      </div>
      <button class="base-btn" (click)="createTicket()">
        Создать билет
      </button>
    </form>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
<div *ngIf='true'>chleniii</div>