<a class="close" mat-button mat-dialog-close></a>

<h2 mat-dialog-title class="title">Создание билета</h2>

<div class="form-container">
  <div class="form-image">
    <img src="../../../../assets/img/aircraft.svg" alt="" />
  </div>
  <div class="form-content">
    <ul class="tab-links">
      <li (click)="changeMode('from')" [ngClass]="{ active: mode === 'from' }">
        Откуда
      </li>
      <li
        (click)="changeMode('arrival')"
        [ngClass]="{ active: mode === 'arrival' }"
      >
        Куда
      </li>
    </ul>
    <div [formGroup]="ticketsForm">
      <div formGroupName="from" class="tab-content" *ngIf="mode === 'from'">
        <app-ctrl-autocomplete-address
          formControlName="city"
          placeholder="Откуда"
        >
          <app-c-errors [control]="ticketsForm.get('from.city')"></app-c-errors>
        </app-ctrl-autocomplete-address>

        <app-ui-datepicker formControlName="date" [placeholder]="'Дата вылета'">
          <app-c-errors [control]="ticketsForm.get('from.date')"></app-c-errors>
        </app-ui-datepicker>

        <app-ctrl-input
          formControlName="time"
          type="time"
          placeholder="Время вылета"
        >
          <app-c-errors [control]="ticketsForm.get('from.time')"></app-c-errors>
        </app-ctrl-input>
      </div>
      <div
        formGroupName="arrival"
        class="tab-content"
        *ngIf="mode === 'arrival'"
      >
        <app-ctrl-autocomplete-address
          formControlName="city"
          placeholder="Куда"
        >
          <app-c-errors
            [control]="ticketsForm.get('arrival.city')"
          ></app-c-errors>
        </app-ctrl-autocomplete-address>

        <app-ui-datepicker formControlName="date" placeholder="Дата прилета">
          <app-c-errors
            [control]="ticketsForm.get('arrival.date')"
          ></app-c-errors>
        </app-ui-datepicker>

        <app-ctrl-input
          formControlName="time"
          type="time"
          placeholder="Время прилета"
        >
          <app-c-errors
            [control]="ticketsForm.get('arrival.time')"
          ></app-c-errors>
        </app-ctrl-input>
      </div>
    </div>
    <div class="btn-container">
      <a class="base-btn" (click)="createTicket()">{{ btnTitle }}</a>
    </div>
  </div>
</div>
