@import "../../../../theme/mixins.scss";
@import "../../../../theme/variables.scss";

.title {
  display: block;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.form-container {
  @include flex(row, flex-start, flex-start);

  .form-content,
  .form-image {
    flex: 1 1 40rem;
  }

  .form-image img {
    width: 100%;
  }

  .btn-container {
    @include flex(row, flex-end, flex-start);

    .base-btn {
      @include base-button();
      width: 320px;
      display: block;
    }
  }

  .tab-links {
    @include ui-tabs();

    li {
      color: black;
      border-color: $primary;
      // border-bottom: $primary;

      &.active,
      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }

  .tab-content {
    margin: 4rem 0;
  }
}

@media screen and ($mobile-screen) {
  .form-image {
    display: none;
  }

  .title {
    font-size: 2.5rem;
  }
}
