@import '../../../../theme/mixins.scss';
@import '../../../../theme/variables.scss';

.column {
  @include flex(column, flex-start, flex-start);
  margin-right: 1rem;

  .label {
    color: white;
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0.5rem;
  }

  .content {
    border-radius: 5px 0 0 0;
    background-color: $primary;
    color: white;
    padding: 9px 15px;
    font-size: 1.5rem;
    padding-right: 40px;
    width: 20rem;
  }
}
