<div class="row">
  <div class="column">
    <span class="label">Откуда</span>
    <span class="content" [title]='fromCity'>
      {{ fromCity }}
    </span>
  </div>
  <div class="column">
    <span class="label">Время вылета</span>
    <span class="content" [title]='fromTime'>
      {{ fromTime }}
    </span>
  </div>
  <div class="column">
    <span class="label">Куда</span>
    <span class="content" [title]='toCity'>
      {{ toCity }}
    </span>
  </div>
  <div class="column">
    <span class="label">Время прилёта</span>
    <span class="content" [title]='arrivalTime'>
      {{ arrivalTime }}
    </span>
  </div>
</div>
