<div class="row">
  <div class="column">
    <span class="label">Откуда</span>
    <span class="content">
      {{ fromCity }}
    </span>
  </div>
  <div class="column">
    <span class="label">Время вылета</span>
    <span class="content">
      {{ fromTime }}
    </span>
  </div>
  <div class="column">
    <span class="label">Куда</span>
    <span class="content">
      {{ toCity }}
    </span>
  </div>
  <div class="column">
    <span class="label">Время прилёта</span>
    <span class="content">
      {{ arrivalTime }}
    </span>
  </div>
</div>
