@import "../../../../theme/mixins.scss";
@import "../../../../theme/variables.scss";

.routes-wrapper {
  background: $primary;
  padding: 3rem;

  .route-item-container {
    @include flex(row, flex-start, flex-start);
  }

  .route-item {
    flex: 1 1 85rem;
    margin-left: 1rem;
    margin-right: 1rem;

    &:last-child {
      .line {
        display: none;
      }
    }
  }

  .route-img {
    position: relative;
    .cicle {
      font-size: 1.6rem;
      font-weight: 600;

      position: relative;
      z-index: 1;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: white;
      color: black;

      @include flex(row, center, center);
    }

    .line {
      @include flex(row, flex-start, flex-start);
      position: absolute;
      top: 50%;
      left: 2px;
      right: -40px;
      height: 1px;
      background-color: black;
    }
  }

  .route-content {
    .header {
      font-size: 1.8rem;
      color: white;
      margin-top: 2rem;
    }
    .time {
      @include flex(row, center, flex-start);
      margin-top: 1.6rem;
      font-size: 1.4rem;
      color: #a0b0b9;
    }
  }

  .base-btn {
    @include base-button();
    background-color: $button;
    color: white;
    margin-top: 5rem;
    min-width: 220px;
  }
}

/* Media Query */
@media screen and (max-width: 948px) {
  .routes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .route-item-container {
      display: block;
    }

    .route-item {
      display: flex;
      flex: none;
      margin: 2rem 0;
    }

    .route-img {
      .line {
        height: auto;
        right: 0;
        width: 2px;
        bottom: -2rem;
        top: 2px;
        left: 50%;
      }
    }

    .route-content {
      margin-left: 2rem;
      .header {
        margin-top: 0;
      }
      .time {
        margin-top: 1rem;
      }
    }

    .base-btn {
      min-width: 100%;
    }
  }
}
