@import "../../theme/variables.scss";

.container {
  background-color: $background-color;
  margin: 5rem;
  border-radius: 3rem;
  padding: 3rem;

  .content {
    width: 100%;

    .main {
      padding-top: 3rem;
    }
  }
}

@media screen and (max-width: 948px) {
  .container {
    margin: 3rem;
    padding: 1rem;

    .main {
      padding-top: 2rem;
    }
  }
}
