<section class="tickets">
  <div class="tickets-wrapper">
    <div class="row">
      <div class="add-ticket">
        <button (click)='addTicket()'>Добавить билет</button>
      </div>
    </div>
    <div *ngFor="let ticket of tickets">
      <app-ticket
        [fromCity]="ticket.fromCity"
        [fromTime]="ticket.fromTime"
        [toCity]="ticket.toCity"
        [arrivalTime]="ticket.arrivalTime"
      ></app-ticket>
    </div>
  </div>

  <app-ticket-create></app-ticket-create>
</section>
