<section class="tickets">
  <div class="tickets-wrapper">
    <div class="row">
      <div class="add-ticket">
        <button (click)='addTicket()'>Добавить билет</button>
      </div>
    </div>
    <div *ngFor="let ticket of ticketsService.getTickets()">
      <app-ticket
        [fromCity]="ticket.fromCity.name"
        [fromTime]="getTimeString(ticket.fromTime)"
        [toCity]="ticket.arrivalCity.name"
        [arrivalTime]="getTimeString(ticket.arrivalTime)"
      ></app-ticket>
    </div>
  </div>
</section>
